/* Pagina Principal */

h1{
    color:rgb(88, 58, 19);
    font-size: 50px;
    font-family:Verdana;
    text-align: center;
    text-decoration: underline;
}

body{
    background-color:rgb(231, 217, 192);
}

.contenedor{
    text-align: center;
}
.imagen-jujuy{
    width: 80%;
}

h2{
    color:rgb(88, 58, 19);
    font-size: 25px;
    font-family: Verdana;
    text-decoration: underline;
}

p{
    font-size: 18px;
    font-family:Tahoma;
    text-align: justify;
}

.listas-ordenadas{
    font-size: 18px;
    font-family:Tahoma;
    text-align: justify;
    font-style: italic;
    font-weight: bold;
}

.titulo-museos-contactos{
    color:rgb(88, 58, 19);
    font-size: 25px;
    font-family: Verdana;
    text-decoration: underline;
    text-align: center;
}

div{
    text-align: center;
}

.enlaces{
    font-size: 17px;
}


/* Pagina Museo y Contacto */

.h1-museo-contacto{
    font-size: 30px;
}

.imagenes-auxiliares{
    width: 45%;
}

form{
    text-align: center;
}

.footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 1%;
}

.parrafo-footer{
    text-align: center;
}

