h1{
    color:rgb(88, 58, 19);
    font-size: 50px;
    font-family:Verdana;
    text-align: center;
    text-decoration: underline;
}
body{
    background-color:rgb(231, 217, 192);
}

.imagen-central{
    width: 55%;
}

.imagenes-aux{
    width: 40%;
}

h2{
    color:rgb(88, 58, 19);
    font-size: 25px;
    font-family: Verdana;
    text-decoration: underline;
}
p{
    font-size: 18px;
    font-family:Tahoma;
    text-align: justify;
}
.lista-ordenada{
    font-size: 18px;
    font-family:Tahoma;
    text-align: justify;
    font-style: italic;
    font-weight: bold;
}
.museos-contactos{
    color:rgb(88, 58, 19);
    font-size: 25px;
    font-family: Verdana;
    text-decoration: underline;
    text-align: center;
}
div{
    text-align: center;
}
#id-museo{
    font-size: 20px;
}
#id-contacto{
    font-size: 20px;
}


.titulos-paginas{
    font-size: 30px;
}
#id-enlace-museo{
    font-size: 20px;
}

form{
    text-align: center;
}

